<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div clas="containner">

        <div class="row">
  
            <!-- HEADER -->
            <nav class=" header navbar fixed-top navbar-light bg-light ">
                <div>
                    <!-- <i class="fa-solid fa-train-subway"></i> -->
                    <p class="fw-bold">Ticketac</p>
                </div>
                <div>
                    <a class="logout fw-bold justify-content-end" href="/users/logout">Connection</a>
                    <a class="logout fw-bold justify-content-end" href="/users/logout">My last trips</a>
                </div>
            
            </nav> 

        </div>  

        <div class="row">
            <h4 class="offset-4 titleForm">Oops ! No trains available...</h4>
            <div>                
                <ul class="list-group">
                  <a href="/homepage" type="submit" class="btn btn-danger mb-2">Home</a>
                </ul>
            </div>
        </div>

    </div>
  </body>
</html>