body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #93cede 0%, #1496ba 100%);
}

.form-container {
  height: 100vh;
}

.btn-danger {
  margin: 15px;
}

.navbar {
  padding: 15px;
}

a {
  color: #00b7ff;
}
